@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body {
  margin: 0;
  font-family:  Poppins;
}

.headerContainer{
  background: #D9D8DA;
}
.dashboard{
  background: #494849;
}
.datePicker{
  background-color: #D9D8DA;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.datePicker-lable{
  background-color: #D9D8DA;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.resultContainer{
  display: flex;
  place-content: center;
  padding: 10px;
}
.counter{
  margin: 15px;
}
